<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="card card-body">
        <p>Are you sure you want to delete "{{post}}"?</p>
        <form action="" method="POST">
            {% csrf_token %}
            <a class="btn btn-warning" href="{% url 'news:list_post' %}">Cancel</a>
            <input class="btn btn-danger" type="submit" name="Confirm">
        </form>
    </div>
</body>
</html>