{% extends 'polls/base.html' %}

{% block content123 %}

    {% if question %}
        <h1>{{question.question_text}}</h1>
            {% if question.choice_set.all %}
<!--        <p>{{dsquest.question_text}}</p>-->
        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            <ul>
                {% for item in question.choice_set.all %}
                    <li><input type="radio" value="{{item.id}}"  name="choice" >{{item.choice_text}}</li>
                {% endfor %}
                <p><input type="submit" value="Submit"></p>
            </ul>
        </form>

        {% else %}
            <h3 style="color:red;">Chưa có câu trả lời</h3>

        {% endif %}
    {% else %}
        <h3 style="color:red;">Câu hỏi không tồn tại</h3>
    {% endif %}
{% endblock %}